{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'indexpage/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'indexpage/link_style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'image/favicon.ico' %}"/>
    <title>Online Stenographer</title>
</head>
<body>
<div class="split left">
    <div class="centered">
       <a href="/img_encoder"><h2>Encode Data</h2></a>
    </div>
</div>

<div class="split right">
    <div class="centered">
        <a href="/img_decoder"><h2>Decode Data</h2></a>
    </div>
</div>
</body>
</html>